 body {
    /* Removes default browser spacing */
    margin: 0;
    padding: 0;

    /* Use a container or small padding for spacing content */
    padding: 20px; 
    
    /* Good for readability */
    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;

    /* Contrast: Use a dark background if using 'wheat' text */
    background-color: wheat;
    color: white; 

    font-family: Arial;
    margin: 40px;

    /* background-image: url('./myapp/public/1.png'); */

    background-image: url('./1.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

   input {
       width: 450px;
       padding: 10px;
   }

   button {
       padding: 10px 20px;
       margin-left: 10px;
   }

   #result {
       margin-top: 30px;
       font-size: 18px;
   }

   #gameLaunchTool{
    margin-left: 30%;
   }

   .main_body{
    margin-left: 10%;
   }